@import "./assets/scss/variables.scss";
@import "./assets/scss/common.scss";
@import "./assets/scss/iconfonts";
@import "~taro-ui/dist/style/index";

.at-divider__line {
  left: 50%;
  width: 40%;
  margin-left: -20%;
}

.at-drawer__content {
  background-color: $bg-color;
}

.at-tabs__item--active {
  color: $primary-color;

  .at-tabs__item-underline {
    background-color: $primary-color;
    // transform: scaleX(0.5);
    // height: 4rpx;
  }
}

.at-tabs--vertical {
  .at-tabs__header {
    background-color: $bg-color;
  }

  .at-tabs__underline {
    background-color: transparent;
  }

  .at-tabs__item--active {
    color: $primary-color;
    font-weight: 500;
    background-color: #fff;

    .at-tabs__item-underline {
      width: 4rpx;
      left: 0;
    }
  }
}

.at-float-layout__container {
  border-radius: 20rpx 20rpx 0 0;
}

.at-drawer__content,
.at-drawer {
  z-index: $base-z-index + 1;
}

.at-float-layout {

  .layout-body,
  .layout-body__content {
    min-height: 600rpx;
    max-height: 1050rpx;
    padding: 0;
  }
}

.at-input-number {
  border: none;
}

.at-input-bg-white.at-input-number {
  border: 1px #eee solid;
}

.at-input-number__btn,
.at-input-number__input,
.at-input-number input {
  color: #333;
}

.at-input-bg-grey {
  background-color: #f2f3f5;
}

.at-input-bg-white {
  background-color: #fff;
}

.at-input-bg-white .at-input-number__input,
.at-input-bg-white .at-input-number input {
  border-color: #eee;
}

.at-input-number__input,
.at-input-number input {
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}

.at-input-number--disabled {
  color: #c8c9cc;
  background-color: #f7f8fa;
  cursor: not-allowed;
}

.at-input-bg-white .at-input-number--disabled {
  color: #999;
  background-color: #f9f9f9;
}

.at-textarea {
  border: none;
  font-size: 24rpx;
  background-color: $bg-color;
}

.at-textarea__textarea,
.at-textarea__counter {
  font-size: 24rpx;
}

.reach-bottom-loading {
  margin-top: 20px;
  margin-bottom: 20px;

  .at-activity-indicator__body {
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}


swiper-item {
  will-change: auto;
  overflow: auto;
  display: inline;
}
