@import "./assets/scss/variables.scss";
@import "./assets/scss/common.scss";
@import "./assets/scss/iconfonts";
@import "~taro-ui/dist/style/index";


::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

