# Default ignored files
/../../../../../../../../../DOCUME~1/WECHAT~1/WXID_0~1/FILEST~1/File/2021-04/TARO-R~2/TARO-R~1/.idea/shelf/
/../../../../../../../../../DOCUME~1/WECHAT~1/WXID_0~1/FILEST~1/File/2021-04/TARO-R~2/TARO-R~1/.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../../../../../../../../DOCUME~1/WECHAT~1/WXID_0~1/FILEST~1/File/2021-04/TARO-R~2/TARO-R~1/.idea/httpRequests/
